/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
   
/* HEADER */

body {
	border-top: 10px solid #434b53;
	background: #e8e0ba;
	color: #434b53;
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
}
header {
	margin-top: 40px;
}
header #logo {
	height: 55px;
	background: url('../img/logo.png') no-repeat;
}
#nav {
	font-family: 'helvetica', 'arial', sans-serif;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
}
#nav ul li {
	text-decoration: none;
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	cursor: pointer;
}

#nav ul li a {
	text-decoration: none;
	color: #434b53;
	padding: 5px;
	z-index: 10;
}

/*#nav ul li a:hover {
	text-decoration: none;
	color: #434b53;
	color: #e8e0ba;
}*/

#nav ul li.current {
}

#nav ul li.current a {
	font-family: 'helvetica', 'arial', sans-serif;
	font-family: 'Abel', sans-serif;
	/*color:#e8e0ba;*/
	z-index: 10;
}
.nav li.back {
	background-color: #e6e8ea;
	height: 22px;
	z-index: -1;
	padding: -5px;
	position: absolute;
	color: #e8e0ba;
	background: #434b53
}
          
/* HEADER END */
/* BODYs */
#main {
text-align: center;
}

#main #manifesto {
	overflow: hidden;
}

#manifesto img {
	margin-top: 30px;	
}

#main #manifesto h1 {
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 36px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 0px;

}

#main #manifesto #linea {
	margin-top: 0px;
	border-top: 1px solid #434b53;
}

#main #manifesto p {
	font-family: 'helvetica', 'arial', sans-serif;
	font-family: 'Abel', sans-serif;
	margin-top: 20px;
	font-size: 22px;
}

#main #manifesto ul {
	width: 10000px;
	padding-left: 0px;
	list-style: none;
}

#main #manifesto li {
	float: left;
}

#main #manifesto img.sliderText {
	margin-top: 0px;
}

#main #proyectos h1 {
	font-family: 'helvetica', 'arial', sans-serif;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 36px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 0px;
}

#main #proyectos #proyectosCont {
	height: 210px;
	width: 10000px;
	/*overflow: hidden;*/
	/*float: right;*/
}
#main #proyectos p {
	font-family: 'Abel', sans-serif;
	margin-top: 20px;
	font-size: 22px;
}



#descProj {
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight:normal;
	margin-top: 15px;
}
#indice {
	margin-top: 15px;
}
#indice ul {

}
#indice ul li {
	height: 20px;
	width: 95px;
	list-style-type: none;
	cursor: pointer;
	display: inline-block;
	background: url('../img/ind.png');
	border: 5px solid #e8e0ba;
	margin-left: 10px;

}
#indice ul li:hover, #indice ul li.selected {
	background: #434b53 url('../img/ind.png') -95px;
	border: 5px solid #434b53;
}
/* BODYs END */
/* FOOTER */
#palmericas {
	position: fixed;
	bottom: 0px;
	background: url('../img/footer.png') center;
	height: 120px;
	width: 3000px;
}
footer #footer_bg_container {

}
footer #footer_grid {
	position: fixed;
	bottom: 0px;
	height: 50px;
	background:#434b53;
	color: #e8e0ba;
}
footer #footer_grid #copyright {
	margin-top: 7px;
	margin-left: 25px;
}
footer #footer_grid #social {
	
}
footer #footer_grid #social ul {
	height: 30px;
	width: 255px;
}
footer #footer_grid #social ul li, #social ul li a {
	height: 25px;
	width: 25px;
	list-style-type: none;
	cursor: pointer;
	display: inline-block;
}
#f_icon {
	background: url('../img/icons.png');
	background-position: 0 0px;
}
#f_icon:hover {
	background: url('../img/icons.png');
	background-position: 0 -25px;
}
#t_icon {
	background: url('../img/icons.png');
	background-position: -25px 0px;
}
#t_icon:hover {
	background: url('../img/icons.png');
	background-position: -25px -25px;
}
#v_icon {
	background: url('../img/icons.png');
	background-position: -50px 0px;
}
#v_icon:hover {
	background: url('../img/icons.png');
	background-position: -50px -25px;
}
#y_icon {
	background: url('../img/icons.png');
	background-position: -75px 0px;
}
#y_icon:hover {
	background: url('../img/icons.png');
	background-position: -75px -25px;
}
#l_icon {
	background: url('../img/icons.png');
	background-position: -100px 0px;
}
#l_icon:hover {
	background: url('../img/icons.png');
	background-position: -100px -25px;
}
#g_icon {
	background: url('../img/icons.png');
	background-position: -125px 0px;
}
#g_icon:hover {
	background: url('../img/icons.png');
	background-position: -125px -25px;
}
#tu_icon {
	background: url('../img/icons.png');
	background-position: -150px 0px;
}
#tu_icon:hover {
	background: url('../img/icons.png');
	background-position: -150px -25px;
}
#fk_icon {
	background: url('../img/icons.png');
	background-position: -175px 0px;
}
#fk_icon:hover {
	background: url('../img/icons.png');
	background-position: -175px -25px;
}








































	
/* TESTEO BARRA PROGRESO SLIDER */
.progressIndicator {width: 0px;}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
