ul.nav {

	overflow:auto; /* makes sure the container fits the floated list-items below */
}
ul.nav li {
 	margin:3px 5px;
	padding:0; /* padding moved to the a element below */
	float: left;
}
ul.nav li a {
	display:block; /* allows us to add top and bottom padding to the element */
	padding:8px 20px 9px 18px;	/* now we have nice padding for link hi-lighting */
	position: relative;
	z-index: 5;
	color: #E8E0BA;
	text-decoration: none;
}
ul.nav li a.current {
	color: #434B53;
}
ul.nav li a:hover {
	color: #434B53 !important;
}
ul.nav li.backLava {
	position:absolute;
	z-index: 2;
	background: #E8E0BA !important;
}